<!DOCTYPE HTML><html>	<head>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">		<!-- Optional theme -->		<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->				<!-- Latest compiled and minified JavaScript -->		<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->		<link href="/resource/css/bootstrap.css" rel="stylesheet"/>		<link href="/resource/css/bootstrap.min.css" />		<link href="/resource/css/bootstrap-theme.css" />		<link href="/resource/css" />				
	  <title>index</title>
	  
	</head>		<body id="index" onload="">
	 	<h1>	 		ESTA PAGINA ES LA QUE SE VE AL PUBLICO		 	</h1>
	</body></html>